<!DOCTYPE html>
<html>
    <head>
        <title>LD46 Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <h1>{{ level }} Leaderboard:</h1>
    <p><a href="/index">Go back</a></p>
    <div class="listContainer">
        <table class="calendar">
            <tr>
                <th class="day-header">Player</th>
                <th class="day-header">Time</th>
            </tr>
            {% for player in players %}
            <tr>
                <td class="event-time">{{player.name}}</td>
                <td class="calendar">{{player.time}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <hr>
        <p>Source code available on <a href="https://github.com/Eroar/Ludum-Dare-46">Github.</a><br>
        LudumDare link <a href="xd.com">TODO.</a></p>
    </footer>
</html>