<!DOCTYPE html>
<html>
    <head>
        <title>Play the GameName</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /* Loop through a collection of all HTML elements: */
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
              /* Make an HTTP request using the attribute value as the file name: */
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /* Remove the attribute, and call this function once more: */
                  elmnt.removeAttribute("w3-include-html");
                  includeHTML();
                }
              }
              xhttp.open("GET", file, true);
              xhttp.send();
              /* Exit the function: */
              return;
            }
          }
        }
    </script> 
    <div class="listContainer">
        <h1><em>Baby: Don't Hurt Me</em> links</h1>
        <a href="/index">
          <div class="normalButton" style="margin-bottom: 2em;">
            <span>Go back</span>
          </div>
        </a>
        <p>You can download the binaries <a href="https://github.com/Eroar/Ludum-Dare-46/releases">from here.</a></p>
        <p>You can play this game in your browser <a href="WEBASSEMBLYLINK">here.</a></p>
        <div style="margin-top: 5em;"></div>
        <img src="{{ url_for('static', filename='itWorks.jpg') }}" alt="It just works meme">
    </div>
    <div style="margin-top: 10em;"></div>
    <div w3-include-html="{{ url_for('static', filename='footer.html') }}"></div>
    <script>
        includeHTML();
    </script>
</html>