<!DOCTYPE html>
<html>
    <head>
        <title>LD46 Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /* Loop through a collection of all HTML elements: */
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
              /* Make an HTTP request using the attribute value as the file name: */
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /* Remove the attribute, and call this function once more: */
                  elmnt.removeAttribute("w3-include-html");
                  includeHTML();
                }
              }
              xhttp.open("GET", file, true);
              xhttp.send();
              /* Exit the function: */
              return;
            }
          }
        }
    </script> 
    <h1>GameName Leaderboard:</h1>
    <div class="listContainer">
        <h2>Map list:</h2>
        <ul>
            {% for map in maps %}
            <li><a href="{{map.url}}">{{map.name}}</a></li>
            {% endfor %}
        </ul>
        <div style="margin-top: 5cm;"></div>
        <div>
            <h3>This game in a nutshell:</h3>
            <img src="https://media.discordapp.net/attachments/700677218803908658/701504112881041488/ggv6lad8k0s41.png?width=696&height=392" alt="Merge error meme">
        </div>
    </div>
    <div style="margin-top: 10em;"></div>
    <div w3-include-html="{{ url_for('static', filename='footer.html') }}"></div>
    <script>
        includeHTML();
    </script>
</html>