body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    max-width: 23cm;
  }
  .header {
    text-align: center;
  }
  
  h1, h2, h3, h4 {
    margin: 5px;
  }
  
  div.interface {
    max-width: 15cm;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: .5cm;
    padding-bottom: .5cm;
    text-align: center;
  }
  a.interface {
    color: black;
    margin: .5cm;
  }
  
  a.header {
    color: black;
  }
  hr {
    visibility: hidden;
  }
  table.calendar {
    margin-left: 1cm;
    min-width: 60%;
    margin: 20px;
  }
  th.day-header {
    background-color: #848484;
    color: white;
    padding-left: 4em;
    padding-right: 4em;
  }
  th.day-header, td.calendar, td.event-time, table.calendar {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  td.calendar, td.event-time {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  td.event-time {
    background-color: #bbbbbb;
    max-width: 1.5cm;
  }
  article {
    overflow: auto;
  }
  aside {
    float: right;
    min-width: 30%;
    margin: 20px;
  }
  label.AdderForm, input.AdderForm {
    padding: 10px;
    margin-top: .05cm;
    margin-bottom: .05cm;
    width: 80%;
    display: block;
    margin-left: 5%;
    margin-right: auto;
    max-width: 10cm;
  }
  input.AdderFormButton {
    width: 50%;
    margin-left: 8%;
    margin-right: auto;
    margin-top: .35cm;
    margin-bottom: .25cm;
    display: block;
    max-width: 5cm;
  }
  .error {
    text-align: center;
    color: red;
  }

  footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #848484;
  }

  td.footer {
    padding-left: 2ex;
    padding-right: 2ex;
  }
  footer > table {
    margin-left: auto;
    margin-right: auto;
  }

  .listContainer {
      max-width: 18cm;
      margin-top: 1cm;
      margin-bottom: 2cm;
      margin-left: auto;
      margin-right: auto;
  }
  .smoll {
    font-size: 5pt;
  }
  img {
    max-width: 14cm;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .forceDown {
    position: fixed;
    bottom: 0;
  }
  body {
    max-width: 100%;
  }

  